# Tuples and Sets in Python

1. Tuples in Python

    Syntax:
my_tuple = (element1,element2,element3,...)

In [2]:
my_tuple =("apple","banana","cherry")
numbers_tuple = (1,2,3,4)
print(my_tuple)
print(numbers_tuple)

('apple', 'banana', 'cherry')
(1, 2, 3, 4)

Creating a Tuple with One Element:

In [4]:
single_element_tuple = ("apple",)
print(single_element_tuple)

('apple',)

2. Accessing Tuple Elements

In [6]:
fruits = ("apple","banana","cherry")
print(fruits[0])
print(fruits[-1])

apple
cherry

Slicing Tuples:

In [7]:
print(fruits[1:3])

('banana', 'cherry')

3. Tuple Operations

Tuple Concatenation:

In [10]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

combined_tuple = tuple1+tuple2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

Tuple Repetition:

In [11]:
repeated_tuple = (1,2)*3
print(repeated_tuple)

(1, 2, 1, 2, 1, 2)

Checking Membership:

In [12]:
print("apple" in fruits)

True

4. Tuple Methods

In [15]:
#count()
my_tuple = (1,2,3,1,1)
print(my_tuple.count(1))

3

In [16]:
#index()
my_tuple = ("apple","banana","cherry")
print(my_tuple.index("banana"))

1

5. Sets in Python

    Syntax:
        my_set = {element1,element2,element3,...}

In [28]:
fruits_set = {"apple","banana","cherry"}
numbers_set = {1,2,3,4,5}
print(fruits_set)
print(numbers_set)

{'apple', 'cherry', 'banana'}
{1, 2, 3, 4, 5}

Empty Sets:

In [29]:
empty_set = set()
print(empty_set)

set()

6. Set Operations

Union:

In [30]:
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1|set2
print(union_set)

{1, 2, 3, 4, 5}

Intersection:

In [31]:
intersection_set = set1&set2
print(intersection_set)

{3}

Difference:

In [32]:
difference_set = set1-set2
print(difference_set)

{1, 2}

Symmetric Difference:

In [33]:
sym_diff_set = set1^set2
print(sym_diff_set)

{1, 2, 4, 5}

8. Set Methods

In [35]:
#add():
fruits_set.add("orange")
print(fruits_set)

{'apple', 'orange', 'cherry', 'banana'}

In [36]:
#remove():
fruits_set.remove("banana")
print(fruits_set)

{'apple', 'orange', 'cherry'}

In [39]:
#discard()
fruits_set.discard("banana")
print(fruits_set)            #No error if "banana" is not in the set.

{'apple', 'orange', 'cherry'}

In [40]:
#pop()
fruits_set.pop()

'apple'

In [41]:
#clear()
fruits_set.clear()
print(fruits_set)

set()

Assignments:

    1. Tuple Operations:
        Create a tuple with 5 elements.
        Try to modify one of the elements. What happens?
        Perform slicing on the tuple to extract the second and third elements.
        Concatenate the tuple with another tuple.

In [47]:
#1. Create a tuple with 5 elements
my_tuple = (10, 20, 30, 40, 50)
print("Original Tuple:", my_tuple)

Original Tuple: (10, 20, 30, 40, 50)

In [48]:
#2. Try to modify one of the elements
# Attempting to modify the second element
my_tuple[1] = 99  # This will raise an error

TypeError: 'tuple' object does not support item assignment

In [49]:
#3. Perform slicing to extract the second and third elements
sliced_tuple = my_tuple[1:3]  # Indexing starts at 0
print("Sliced Tuple (2nd and 3rd elements):", sliced_tuple)

Sliced Tuple (2nd and 3rd elements): (20, 30)

In [50]:
#4. Concatenate the tuple with another tuple
another_tuple = (60, 70)
concatenated_tuple = my_tuple + another_tuple
print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (10, 20, 30, 40, 50, 60, 70)

    2.Set Operations:

    Create two sets: one with your favorite fruits and another with your friend’s favorite fruits.
    Find the union, intersection, and difference between the two sets.
    Add a new fruit to your set.
    Remove a fruit from your set using both remove() and discard(). What happens when the fruit doesn’t exist?

In [62]:
#1. Create two sets
my_fav_fruits = {"apple", "mango", "banana"}
friends_fav_fruits = {"banana", "orange", "grapes"}
print("My Favorite Fruits:", my_fav_fruits)
print("Friend's Favorite Fruits:", friends_fav_fruits)

My Favorite Fruits: {'apple', 'mango', 'banana'}
Friend's Favorite Fruits: {'orange', 'grapes', 'banana'}

In [63]:
#2. Find the union, intersection, and difference
# Union: all unique elements from both sets
union_set = my_fav_fruits.union(friends_fav_fruits)
print("Union:", union_set)

# Intersection: common elements
intersection_set = my_fav_fruits.intersection(friends_fav_fruits)
print("Intersection:", intersection_set)

# Difference: elements in my set but not in friend's
difference_set = my_fav_fruits.difference(friends_fav_fruits)
print("Difference (Mine - Friend's):", difference_set)

Union: {'mango', 'orange', 'banana', 'apple', 'grapes'}
Intersection: {'banana'}
Difference (Mine - Friend's): {'apple', 'mango'}

In [64]:
#3. Add a new fruit to your set
my_fav_fruits.add("papaya")
print("After Adding 'papaya':", my_fav_fruits)

After Adding 'papaya': {'papaya', 'apple', 'mango', 'banana'}

In [65]:
#4. Remove a fruit using remove() and discard()
# Using remove()
my_fav_fruits.remove("apple")  # Removes 'apple' if it exists
print("After remove('apple'):", my_fav_fruits)

# Using discard()
my_fav_fruits.discard("mango")  # Removes 'mango' if it exists
print("After discard('mango'):", my_fav_fruits)

After remove('apple'): {'papaya', 'mango', 'banana'}
After discard('mango'): {'papaya', 'banana'}

In [66]:
#What happens if the fruit doesn’t exist?
# This will raise an error
my_fav_fruits.remove("pineapple")  # Error if 'pineapple' doesn't exist

# This will NOT raise an error
my_fav_fruits.discard("pineapple")  # Safe to use

KeyError: 'pineapple'

 3.Tuple and Set Comparison:

        Create a list of elements and convert it into both a tuple and a set.
        Print both the tuple and the set.
        Try to add new elements to the tuple and set. What differences do you observe?

Create a list and convert it to both a tuple and a set

In [71]:
my_list = [1, 2, 3, 4, 5, 3]  # Note: duplicate element (3)
my_tuple = tuple(my_list)
my_set = set(my_list)

print("Original List:", my_list)
print("Converted Tuple:", my_tuple)
print("Converted Set:", my_set)

Original List: [1, 2, 3, 4, 5, 3]
Converted Tuple: (1, 2, 3, 4, 5, 3)
Converted Set: {1, 2, 3, 4, 5}

In [74]:
#2. Try to add elements to both
#Add to the tuple
my_tuple.append(6)  # ❌ Error: Tuples are immutable

SyntaxError: invalid syntax (3793102031.py, line 3)

In [75]:
#Add to the set
my_set.add(6)  # ✅ Works fine
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 5, 6}