# Lists and Dictionaries with For Loops, List Comprehension, and Dictionary Comprehension

1. Looping Through Lists

In [1]:
#Sum of all numbers in a list
numbers = [10,20,30,40,50]
total = 0
for num in numbers:
    total = total + num
print("Total sum: ",total)

Total sum:  150

In [3]:
#Doubling each number in a list
numbers = [1,2,3,4,5]
doubled = []
for num in numbers:
    doubled.append(num*2)
print("Double List:",doubled)

Double List: [2, 4, 6, 8, 10]

In [4]:
#Printing Food items
foods = ["Dosa","Idli","Vada","Bisibelebath"]
for food in foods:
    print(f"I like {food}")

I like Dosa
I like Idli
I like Vada
I like Bisibelebath

2. Looping Through Dictionaries

In [5]:
#Iterating over dictionary keys
student_marks = {"Anand": 85, "Geetha": 90, "Kumar": 78}

for student in student_marks:
    print(student)

Anand
Geetha
Kumar

In [9]:
#Iterating over dictionary values

student_marks = {"Anand": 85, "Geetha": 90, "Kumar": 78}

for marks in student_marks.values():
    print(marks)

85
90
78

In [10]:
#Iterating over dictionary keys and values

student_marks = {"Anand": 85, "Geetha": 90, "Kumar": 78}

for student,marks in student_marks.items():
    print(f"{student} scored {marks} marks")

Anand scored 85 marks
Geetha scored 90 marks
Kumar scored 78 marks

3. for Loops with range()

In [11]:
#Adding marks to students using index values
students = ["Anand","Geetha","Kumar"]
marks = [85,90,78]
student_marks = {}
for i in range(len(students)):
    student_marks[students[i]] = marks[i]
print(student_marks)

{'Anand': 85, 'Geetha': 90, 'Kumar': 78}

4. List Comprehension

    Syntax:
    new_list = [expression for item in iterable if condition]

In [12]:
#Squaring numbers in a list
numbers = [1,2,3,4,5]
squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [13]:
#Filtering even numbers
numbers = [1,2,3,4,5,6]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6]

In [20]:
#Uppercasing Kannada city names
cities = ["Bengaluru", "Mysuru", "Hubballi", "Mangaluru"]
uppercased_cities = [city.upper() for city in cities]
print(uppercased_cities)

['BENGALURU', 'MYSURU', 'HUBBALLI', 'MANGALURU']

5. Dictionary Comprehension

    Syntax:
    new_dict = {key_expression:value_expression for item in iterable if condition}

In [21]:
#Creating a dictionary of squares
numbers = [1,2,3,4,5]
squares_dict = {num:num**2 for num in numbers}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [29]:
#Converting a list of names to a dictionary of name lengths
names = ["Anand", "Geetha", "Kumar"]
name_lengths = {name: len(name) for name in names}
print(name_lengths)

{'Anand': 5, 'Geetha': 6, 'Kumar': 5}

In [30]:
#Filtering cities with population above 10 lakhs 
city_population = {
    "Bengaluru": 84,
    "Mysuru": 11,
    "Hubballi": 9,
    "Mangaluru": 5
}
large_cities = {city: population for city, population in city_population.items() if population > 10}
print(large_cities)

{'Bengaluru': 84, 'Mysuru': 11}

6. Splitting Strings to Create Lists

    Syntax:
    string.split(seperator,maxsplit)

In [31]:
#Splitting a sentence into words
sentence = "I love coding in Python"
words = sentence.split()
print(words)

['I', 'love', 'coding', 'in', 'Python']

In [32]:
#Splitting a string with commas
data = 'apple,banana,mango'
fruits = data.split(",")
print(fruits)

['apple', 'banana', 'mango']

In [33]:
#Limiting the number of splits
sentence = "Python is fun to learn"
words = sentence.split(" ",2)
print(words)

['Python', 'is', 'fun to learn']

Assignment:

1. List Manipulation:

    Create a list of Kannada foods. Use list comprehension to create a new list where each food name is in uppercase.

In [36]:
Food_items = ["Dosa","Idli","uppittu","Bans"]
uppercased_Food_items = [items.upper() for items in Food_items]
print(uppercased_Food_items)

['DOSA', 'IDLI', 'UPPITTU', 'BANS']

2. Sum of Prices:

    Create a dictionary of 5 items with their prices. Write a program that calculates the total price of all items using a for loop.

In [39]:
items = {"Dosa":30,"Idli":25,"Uppittu":27,"Bans":35}
Total = 0
for item in items.values():
    Total = Total + item
print(Total)

117

3. List of Squares:

    Create a list of numbers from 1 to 10. Use list comprehension to generate a list of their squares.

In [46]:
numbers = [1,2,3,4,5,6,7,8,9,10]
doubled = []
for num in numbers:
    doubled.append(num*2)
print("Double List:",doubled)

Double List: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

4. Student Data Task:

    Create a list of 3 dictionaries, where each dictionary contains the name, age, and marks of a student. Loop through the list and print each student's information.

In [47]:
students = [
    {"name": "Asha", "age": 20, "marks": 85},
    {"name": "Ravi", "age": 21, "marks": 90},
    {"name": "Meena", "age": 19, "marks": 92}
]

for student in students:
    print("Name:", student["name"])
    print("Age:", student["age"])
    print("Marks:", student["marks"])
    print("----")

Name: Asha
Age: 20
Marks: 85
----
Name: Ravi
Age: 21
Marks: 90
----
Name: Meena
Age: 19
Marks: 92
----

5. Dictionary Comprehension:

    Create a dictionary where the keys are Kannada cities, and the values are their populations. Use dictionary comprehension to filter out cities with populations below 10 lakhs.

In [48]:
cities = {
    "Bengaluru": 13000000,
    "Mysuru": 900000,
    "Mangaluru": 600000,
    "Hubballi": 1100000,
    "Belagavi": 490000
}

filtered_cities = {city: pop for city, pop in cities.items() if pop >= 1000000}
print(filtered_cities)

{'Bengaluru': 13000000, 'Hubballi': 1100000}