# For Loops in Python

1. The Basic Structure of a for Loop

    Syntax:
    for item in sequence:
    #Code to execute for each item in the sequence

In [1]:
#Let’s print each name in a list of Kannada cities:
cities = ["Bengaluru","Mysuru","Hubballi","Mangaluru"]
for city in cities:
    print(city)

Bengaluru
Mysuru
Hubballi
Mangaluru

2. Using range() with for Loops

    Syntax of range():
    range(start,stop,step)

In [2]:
#Counting from 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
#Counting by 2s from 1 to 10
for i in range(1,11,2):
    print(i)

1
3
5
7
9

3. Looping Over Strings

In [6]:
#Printing each character in a string
name = 'Karnataka'
for letter in name:
    print(letter)

K
a
r
n
a
t
a
k
a

4. Nested for Loops

In [7]:
#Let’s print the multiplication table from 1 to 5 using a nested for loop.
for i in range(1,6):
    for j in range(1,6):
        print(f"{i} x {j} = {i*j}")
    print() #To print an empty line after each table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

5. Using break in a for Loop

In [9]:
#Let’s say you are searching for a specific city in a list:
cities = ["Bengaluru", "Mysuru", "Hubballi", "Mangaluru"]
for city in cities:
    if city == "Hubballi":
        print(f"Found {city}!")
        break
    print(city)

Bengaluru
Mysuru
Found Hubballi!

6. Using continue in a for Loop

In [10]:
#Let’s skip "Hubballi" while looping through the cities:
cities = ["Bengaluru", "Mysuru", "Hubballi", "Mangaluru"]
for city in cities:
    if city == "Hubballi":
        continue
    print(city)

Bengaluru
Mysuru
Mangaluru

7. Looping Through a List with enumerate()

In [11]:
#Displaying the index and value of each city
cities = ["Bengaluru", "Mysuru", "Hubballi", "Mangaluru"]
for index,city in enumerate(cities):
    print(f"City {index+1}:{city}")

City 1:Bengaluru
City 2:Mysuru
City 3:Hubballi
City 4:Mangaluru

8. Using else with for Loops

In [12]:
#Example
for city in cities:
    print(city)
else:
    print("No more cities!")

Bengaluru
Mysuru
Hubballi
Mangaluru
No more cities!

9. Real-Life Example: Distributing Laddus

In [16]:
#Imagine you have 5 laddus to distribute among friends. You can use a for loop to give each friend one laddu.
laddus = 5
friends = ["Rahul", "Sneha", "Aman", "Priya","Rani","Satya"]

for friend in friends:
    if laddus > 0:
        print(f"{friend} gets a laddu!")
        laddus -= 1
    else:
        print("No laddus left!")

Rahul gets a laddu!
Sneha gets a laddu!
Aman gets a laddu!
Priya gets a laddu!
Rani gets a laddu!
No laddus left!

Assignment

    1. Multiples of 3:

    Write a for loop that prints all multiples of 3 between 1 and 30.

In [21]:
for num in range(1, 31):
    print(f"3 * {num} = {3 * num}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57
3 * 20 = 60
3 * 21 = 63
3 * 22 = 66
3 * 23 = 69
3 * 24 = 72
3 * 25 = 75
3 * 26 = 78
3 * 27 = 81
3 * 28 = 84
3 * 29 = 87
3 * 30 = 90

    2. Sum of First 10 Numbers:

    Write a program using a for loop that calculates the sum of numbers from 1 to 10.

In [22]:
total = 0
for num in range(1,11):
    total += num #total = total + num
print("Sum of numbers from 1 to 10 is:",total)

Sum of numbers from 1 to 10 is: 55

3. Print Your Name Letter by Letter:

    Write a program that takes your name as input and prints each letter of your name using a for loop.

In [23]:
name = input("Enter your name: ")
for letter in name:
    print(letter)

Enter your name: Keerthana
K
e
e
r
t
h
a
n
a

4. Count Vowels in a String:

    Write a program that counts how many vowels are in a given string using a for loop.

In [29]:
text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count = count + 1
        
print("Number of vowels:",count)

Enter a string: Python
Number of vowels: 1