# Variables

Syntax for variable assignment

In [1]:
x = 5        #Assigning an integer value to the variable x
y = "Hello"  #Assigning a string value to the variable y

In [2]:
print(x)
print(y)

5
Hello

Variable Naming

In [3]:
age = 25
name = "John"
is_student = True

In [4]:
print(age)
print(name)
print(is_student)

25
John
True

Type Checking

In [5]:
x = 10
print(type(x))

<class 'int'>

Type Conversion

In [6]:
x = "10"    #x is a string
y = int(x)  #Convert string to integer
z = float(y)#Convert integer to float

print(z)

10.0

Arithmatic Operations

In [7]:
a = 10
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

Assigning values to multiple variables

In [8]:
x,y,z = 10,20,30
print(x)
print(y)
print(z)

10
20
30

Assigning same value to multiple variables

In [10]:
x=y=z=100
print(x,y,z)

100 100 100

Variable Reassignment

In [11]:
x=5
print(x)
x=10
print(x)

5
10

Homework

Arithmetic Practice: Write a Python program that performs basic arithmetic operations (addition, subtraction, multiplication, and division) on two numbers. Define the two numbers as variables within the code and print the results for each operation.

In [12]:
# Define two numbers
num1 = 10
num2 = 5

# Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2  # Ensure num2 is not zero to avoid division error

# Print the results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

# Complex arithmetic operation using BODMAS
result = (10 + 5) * 2 - 6 / 3

# Print the result
print("Result of the expression (10 + 5) * 2 - 6 / 3 is:", result)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Result of the expression (10 + 5) * 2 - 6 / 3 is: 28.0

Swap Two Variables: Write a Python program that swaps the values of two variables with and without using a third variable.

In [15]:
#Method 1: Using a Third Variable

# Initial values
a = 10
b = 5

print("Before swapping (using third variable): a =", a, "b =", b)

# Swap using a third variable
temp = a
a = b
b = temp

print("After swapping: a =", a, "b =", b)

#Method 2: Without Using a Third Variable

# Initial values
x = 15
y = 7

print("Before swapping (without third variable): x =", x, "y =", y)

# Swap without using a third variable
x = x + y
y = x - y
x = x - y

print("After swapping: x =", x, "y =", y)

#Bonus Pythonic Way (One-liner swap)

# One-liner swap (Pythonic)
p = 3
q = 8

print("Before swapping (one-liner): p =", p, "q =", q)

p, q = q, p

print("After swapping: p =", p, "q =", q)

Before swapping (using third variable): a = 10 b = 5
After swapping: a = 5 b = 10
Before swapping (without third variable): x = 15 y = 7
After swapping: x = 7 y = 15
Before swapping (one-liner): p = 3 q = 8
After swapping: p = 8 q = 3